.todayView{
    font-family: 'Nunito', sans-serif;
}
.weekForecast{
    width:50%;
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.WeatherText{
    color:white;
    font-size: 2rem;
    margin-top: -9px !important;
}
.weekly{
    margin-top: 2rem;
    margin-bottom:0px;
    text-decoration: underline;
}
.title{
    color:white;
    font-size: 3rem;
    margin-bottom:0px !important;
}
.temp{
    font-size: 1.4rem;
}
.city{
    margin-bottom: -24px !important;
}